* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 50%;
  height: 80vh;
  margin-right: 1rem;
  float: left;
  /* float: right; */
}

.first {
  width: 500px;
  height: 55vh;
  background-color: rgba(65, 106, 217, 0.5);
  clear: both;
  float: left;
}

.second {
  width: 500px;
  height: 75vh;
  background-color: #ff1818;
  float: right;
}
