body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #ddae71;
}

.glavni {
  margin: 60px auto;
  width: 400px;
  height: 510px;
  background-color: #eee34e;
  border: 1px dashed #8f3b3b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.glavni img {
  width: 400px;
  height: 160px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.glavni h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 20px;
}

.glavni i {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.paragraf {
  margin: 0px;
  padding: 0px 20px 0px 20px;
}

#phone {
  margin: 0px;
  padding-top: 0px;
}

.red {
  color: red;
  font-size: 22px;
}

.glavni:nth-of-type(2) {
  background-color: #70fae8;
  border: 1px dashed #372a52;
}
