* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 80%;
  /* height: 130vh; */
  background-color: #7fffd4;
  display: grid;
  /* grid-template-columns: 150px 250px; dve vrednosti predstavljaju da imamo dve kolone */
  /* grid-template-columns: 1fr 2fr 1fr; slicno flex-grow gde se redjaju elementi tako sto ce popuniti celu sirinu parenta */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(3, 1fr);

  /* grid-template-rows: 200px 150px; svaka vrednost predstavlja visinu elemenata za taj red */
  /* grid-auto-rows: 200px; predstavlja visinu svih redova*/
  grid-auto-rows: minmax(150px, auto);

  /* grid-gap: 15px; */
  grid-column-gap: 20px;
  grid-row-gap: 10px;

  grid-template-areas:
    "header header header"
    "section section article"
    "main main article";
}

.box1 {
  /* height: 150px; */
  background-color: #deb887;
  grid-area: header;
}

.box2 {
  /* height: 150px; */
  background-color: #e55252;
  grid-area: section;
}

.box3 {
  /* height: 150px; */
  background-color: #a85aa8;
  grid-area: article;
}

.box4 {
  /* height: 150px; */
  background-color: #2e6324;
  grid-area: main;
}

.box5 {
  /* height: 150px; */
  background-color: #441717;
  color: #7fffd4;
}

.box6 {
  /* height: 150px; */
  background-color: #ffed4a;
}

.box7 {
  /* height: 150px; */
  background-color: #878188;
}
