* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 20px auto;
  /* width: 80%; */
  height: 10vh;
  display: flex;
  /* background-color: beige; */
  /* box-shadow: 0 4px 2px -2px gray; */
  box-shadow: 0 4px 2px -2px rgba(182, 182, 185, 0.75);
}

header h2 {
  padding-left: 10rem;
  color: #5777ba;
  width: 20vw;
}

header ul {
  display: flex;
  list-style: none;
  padding-left: 15.5rem;
  padding-top: 10px;
  width: 80vw;
}

header ul li a {
  text-decoration: none;
  /* position: relative; */
  color: #47536e;
  padding-left: 1rem;
}

header button {
  position: relative;
  top: 15px;
  left: -13rem;
  height: 6vh;
  width: 15vw;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #5777ba;
}

.main {
  padding-top: 40px;
  margin: auto;
  height: 69vh;
  width: 80%;
  /* background-color: black; */
}

.items {
  display: flex;
}

.items img {
  /* width: 25vw; */
  height: 60vh;
}

#ikonica {
  margin-right: 20px;
}

.text p {
  color: #585a61;
}

.text ul li {
  list-style: none;
  color: #585a61;
}

#oznaceni {
  background-color: rgb(13, 73, 214);
  color: white;
}

#ikonica {
  padding-top: 25px;
  color: #5777ba;
  padding-right: 2px;
}

.text span {
  color: #585a61;
  padding-left: 5px;
}

#bottom {
  padding-top: 30px;
}

/*  */

footer {
  display: flex;
  width: 101.1%;
  height: 14.3vh;
  background-color: rgb(211, 211, 211);
  position: relative;
  right: 8px;
  top: 8px;
}

footer .text p {
  position: relative;
  top: 5px;
  color: #131313;
  /* padding-top: 20px; */
  margin-left: 4rem;
}

footer a {
  text-decoration: none;
}

.ikonice {
  padding-top: 28px;
  padding-left: 60%;
}

#footericon {
  padding: 10px;
  border: solid #959595;
  background-color: #959595;
  border-radius: 50px;
  text-align: center;
}
