* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 80%;
  height: 100vh;
  background-color: #7fffd4;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  grid-gap: 15px;

  /* Horizontalno poravnanje: */
  /* justify-content: center; */
  /* justify-content: end; */
  /* justify-content: space-between; */
  justify-content: space-around;

  /* Vertikalno poravnanje: */
  /* align-content: center; */
  /* align-content: end; */
  /* align-content: space-between; */
  align-content: space-around;

  /* justify-items: start; */
  justify-items: center;

  align-items: center;
}

.box1 {
  /* height: 150px; */
  background-color: #deb887;
  justify-self: start;
  align-self: end;
}

.box2 {
  /* height: 150px; */
  background-color: #e55252;
}

.box3 {
  /* height: 150px; */
  background-color: #a85aa8;
}

.box4 {
  /* height: 150px; */
  background-color: #2e6324;
}

.box5 {
  /* height: 150px; */
  background-color: #441717;
  color: #7fffd4;
}

.box6 {
  /* height: 150px; */
  background-color: #ffed4a;
  justify-self: end;
  align-self: start;
}

.box7 {
  /* height: 150px; */
  background-color: #878188;
}
