* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #d2691e;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.container {
  margin: 50px auto;
  padding: 15px;
  width: 80%;
  height: 400px;
  border: 1px solid grey;
  border-radius: 15px;
}

#subtitle {
  margin: 20px;
}

li {
  list-style: none;
  width: 100%;
  border: 1px solid grey;
  padding: 15px;
}

.newDiv {
  width: 50%;
  height: 50px;
  margin: auto;
  background-color: #d2691e;
}

.deletebtn {
  width: 20px;
  height: 20px;
  background-color: red;
}
